.navbar {
    background-color: rgb(100,200,200);
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}
.body-content {

 font-family: Verdana, sans-serif;
 font-size: 100%;}


h1 {
    width: 50%;
    margin: auto;
    background-color: #fff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color : navy;
}

h2{
    font-size: 150%;
    color: rgb(255,255,255);
    padding-left: 15px;
}

p{
    font-size: 100%;
    color: rgb(255,255,255);
    padding-left: 15px;
}
h3{
    font-size: 120%;
    color: rgb(255,255,255);
    padding-left: 15px;
}
h4{
    font-size: 120%;
    color: navy;
    padding-left: 15px;
}

#service {
    margin: 20px;
    display: flex;
}

#service .box {
    padding: 50px;
    margin: 3px 6px;
    border-radius: 28px;
}

#service .box img {
    margin-top: 1px;
    height: 150px;
    margin: auto;
    display: block;
    border-radius: 200px;
}

#service .box p {

    font-family: sans-serif;
    text-align: center;
}

#services {
    margin: 20px;
    display: flex;
}

#services .box {

    padding: 50px;
    margin: 3px 6px;
    border-radius: 28px;
}

#services .box img {
    margin-top: 1px;
    height: 150px;
    margin: auto;
    display: block;
    border-radius: 100px;
}

#services .box p {

    font-family: sans-serif;
    text-align: center;
}

#service {
    margin: 20px;
    display: flex;
}

#service .box {
    padding: 50px;
    margin: 3px 6px;
    border-radius: 28px;
}

#service .box img {
    margin-top: 1px;
    height: 150px;
    margin: auto;
    display: block;
    border-radius: 200px;
}

#service .box p {

    font-family: sans-serif;
    text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

form {
  width: 350px;
  position: relative;
}
form .form-field::before {
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 17px;
  color: #888888;
  content: " ";
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}
form .form-field:nth-child(1)::before {
  background-image: url(img/user-icon.png);
  width: 20px;
  height: 20px;
  top: 15px;
}
form .form-field:nth-child(2)::before {
  background-image: url(img/lock-icon.png);
  width: 16px;
  height: 16px;
}
form .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}
form input {
  font-family: inherit;
  width: 100%;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  display: block;
  padding: 0.9rem 0.7rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
  color: #4A4A4A;
  text-indent: 40px;
}
form .btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  padding: 0.9rem 2.5rem;
  text-align: center;
  background-color: #47AB11;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
}