<!DOCTYPE html>

<html>
{% extends "Layout.html" %}
{% block content %}
<body style="background-image: url(/static/images/fond1.jpg)">
<h1>Qui sommes-nous ?</h1>
<h2>Cette application a été développée par 4 élèves de l'école Nationale des ponts et Chaussées. C'est une application de machine learning qui permet de retourner le nom d'un légume associé à une image.</h2>
<section class="service">
        <div id="services">
            <div class="box">
                <img src=
                             "static/images/nono.jpg"
                     alt="picture goes here">
                <p class="center">
                    <a href="" style="text-decoration:none;color:black;
        font-weight:bold;font-family: 'Arial', cursive;"> Développeur
                    </a>
                </p>

                <p style="font-family: sans-serif"> Noémie Dufourd </p>
            </div>

            <div class="box">
                <img src=
                             "static/images/abi.jpg"
                     alt="picture goes here">
                <p class="center">
                    <a href="" style="text-decoration:none;color:black;
        font-weight:bold;font-family: 'Arial', cursive;"> Développeur
                    </a>
                </p>

                <p style="font-family: sans-serif"> Abigail Lepers </p>
            </div>

            <div class="box">
                <img src=
                             "static/images/alex.jpg"
                     alt="picture goes here">
                <p class="center">
                    <a href="" style="text-decoration:none;color:black;
        font-weight:bold;font-family: 'Arial', cursive;"> Développeur
                    </a>
                </p>

                <p style="font-family: sans-serif"> Alexandre Chotard </p>
            </div>

            <div class="box">
                <img src=
                             "static/images/stefanie.jpg"
                     alt="picture goes here">
                <p class="center">
                    <a href="" style="text-decoration:none;color:black;
        font-weight:bold;font-family: 'Arial', cursive;"> Développeur
                    </a>
                </p>

                <p style="font-family: sans-serif"> Stéfanie Moara </p>
            </div>
     </div>
</section>
<div class="border-top pt-3">
        <small class="text-muted">
            <h4>Un problème ? Contactez l'adresse ci-dessous</h4> <a class="ml-2" href="https://www.linkedin.com/in/no%C3%A9mie-dufourd-5170b821a/">Linkedin</a></a>
        </small>
    </div>
{% endblock %}



</html>