<!DOCTYPE html>
<html>
<head>
    <title>SmartVegetables</title>
    <meta charset="utf-8">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">

</head>

 <body>

<h1 > {{ message2 }} </h1>
<h2> Choisissez l'image que vous voulez étudier</h2>
<td >
    <input type='file' name='dumpfile'>
        <input type='button' pseudo='file-selector-button' >
</td>
</br>
</br>
    <a href=  {{ url_for('texte')}} »> retourner à la page d’accueil </a>
</body>
</html>