<!DOCTYPE html>
<html>
{% extends "Layout.html" %}
{% block content %}
<body style="background-color: rgb(176,242,182)">

<h1 class="title"> Bonjour, {{current_user.first_name}}

</h1>
<h2>Profile</h2>

<td>
                <h2>User: {{current_user.username}}</h2>
                <h2>Prénom: {{ current_user.first_name }}</h2>
                <h2>Nom: {{ current_user.last_name }}</h2>
            </td>
  <label for="about">About me:</label><br>
  <input type="about" id="about" name="about"><br><br>
<div class="border-top pt-3">
        <small class="text-muted">
            Vous voulez scanner un légume ? <a class="ml-2" href="{{ url_for('index1') }}">Légume à scanner</a>
        </small>
    </div>
{% endblock %}
</html>









